.u-block-60f5-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-60f5-3 {
  position: absolute;
  left: 0;
  background-image: none;
  padding: 13px;
}

.u-block-60f5-4 {
  position: absolute;
  background-image: none;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
  padding: 13px;
}

 .u-section-1-1 {
  background-image: url("images/WhatsAppImage2023-01-23at13.50.372.jpeg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 1195px;
}

.u-section-1-1 .u-image-1 {
  width: 709px;
  height: 322px;
  margin: 135px 190px 0 auto;
}

.u-section-1-1 .u-text-1 {
  text-shadow: 4px 6px 0px rgba(0,0,0,0.6);
  font-weight: 400;
  font-size: 3rem;
  margin: 2px 101px 0 152px;
}

.u-section-1-1 .u-list-1 {
  margin-top: 98px;
  margin-bottom: 60px;
}

.u-section-1-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px);
  min-height: 307px;
  grid-gap: 26px 26px;
}

.u-section-1-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1-1 .u-container-layout-1 {
  padding: 0 28px 30px;
}

.u-section-1-1 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 2px 0 auto;
  padding: 0;
}

.u-section-1-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -48px 109px 0 2px;
}

.u-section-1-1 .u-text-3 {
  margin: 28px 4px 0 0;
}

.u-section-1-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 18px 4px 0 0;
}

.u-section-1-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 42px auto 0 11px;
  padding: 10px 49px 11px 48px;
}

.u-section-1-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1-1 .u-container-layout-2 {
  padding: 0 28px 30px;
}

.u-section-1-1 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 2px 0 auto;
  padding: 0;
}

.u-section-1-1 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -48px 109px 0 2px;
}

.u-section-1-1 .u-text-6 {
  margin: 28px 4px 0 0;
}

.u-section-1-1 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 18px 4px 0 0;
}

.u-section-1-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 42px auto 0 11px;
  padding: 10px 49px 11px 48px;
}

.u-section-1-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1-1 .u-container-layout-3 {
  padding: 0 28px 30px;
}

.u-section-1-1 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 2px 0 auto;
  padding: 0;
}

.u-section-1-1 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -48px 109px 0 2px;
}

.u-section-1-1 .u-text-9 {
  margin: 28px 4px 0 0;
}

.u-section-1-1 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 18px 4px 0 0;
}

.u-section-1-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 42px auto 0 11px;
  padding: 10px 49px 11px 48px;
}

@media (max-width: 1199px) {
   .u-section-1-1 {
    min-height: 985px;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 985px;
  }

  .u-section-1-1 .u-image-1 {
    margin-top: 427px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 83px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1-1 .u-list-1 {
    margin-bottom: 50px;
  }

  .u-section-1-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 17.3333px));
    min-height: 249px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1-1 .u-text-4 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: -16px;
  }

  .u-section-1-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1-1 .u-text-7 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1-1 .u-btn-2 {
    margin-left: -16px;
  }

  .u-section-1-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1-1 .u-text-10 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1-1 .u-btn-3 {
    margin-left: -16px;
  }
}

@media (max-width: 991px) {
   .u-section-1-1 {
    min-height: 754px;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-1-1 .u-image-1 {
    margin-top: 913px;
    margin-right: 11px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: -403px;
  }

  .u-section-1-1 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-1-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12.999975000000001px));
    min-height: 610px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1-1 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-1-1 .u-text-8 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
   .u-section-1-1 {
    min-height: 566px;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-1-1 .u-image-1 {
    width: 540px;
    height: 245px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-list-1 {
    margin-top: 0;
  }

  .u-section-1-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1-1 {
    min-height: 356px;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-1-1 .u-image-1 {
    width: 340px;
    height: 154px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.5rem;
  }
}

 .u-section-1-2 {
  background-image: url("images/87037163_3674704839236848_5134938143182553088_n.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 945px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 400;
  font-size: 6rem;
  text-shadow: 11px 8px 8px rgba(0,0,0,0.4);
  text-decoration: underline !important;
  margin: 250px auto 0;
}

.u-section-1-2 .u-text-2 {
  text-shadow: 4px 6px 0px rgba(0,0,0,0.6);
  font-weight: 400;
  font-size: 3rem;
  margin: 144px 0 0 143px;
}

.u-section-1-2 .u-list-1 {
  margin-top: -13px;
  margin-bottom: 60px;
}

.u-section-1-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px);
  min-height: 281px;
  grid-gap: 26px 26px;
}

.u-section-1-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1-2 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-1-2 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -48px 107px 0 0;
}

.u-section-1-2 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-1-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 24px auto 0 0;
  padding: 10px 49px 11px 48px;
}

.u-section-1-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1-2 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-1-2 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1-2 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -48px 107px 0 0;
}

.u-section-1-2 .u-text-6 {
  margin: 30px 0 0;
}

.u-section-1-2 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 24px auto 0 0;
  padding: 10px 49px 11px 48px;
}

.u-section-1-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1-2 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-1-2 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1-2 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -48px 107px 0 0;
}

.u-section-1-2 .u-text-8 {
  margin: 30px 0 0;
}

.u-section-1-2 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 24px auto 0 0;
  padding: 10px 49px 11px 48px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1-2 .u-repeater-1 {
    min-height: 229px;
  }

  .u-section-1-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1-2 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-1-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 13px) calc(50% - 13px);
    min-height: 563px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-1-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 1456px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 1.5rem;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/WhatsAppImage2023-01-23at13.56.18.jpeg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 949px;
}

.u-section-1-3 .u-text-1 {
  font-weight: 400;
  font-size: 6rem;
  text-shadow: 11px 8px 8px rgba(0,0,0,0.4);
  text-decoration: underline !important;
  margin: 226px auto 0;
}

.u-section-1-3 .u-text-2 {
  text-shadow: 4px 6px 0px rgba(0,0,0,0.6);
  font-weight: 400;
  font-size: 3rem;
  margin: 116px 0 0 143px;
}

.u-section-1-3 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-1-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px);
  min-height: 281px;
  grid-gap: 26px 26px;
}

.u-section-1-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1-3 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-1-3 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1-3 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -48px 107px 0 0;
}

.u-section-1-3 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-1-3 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 24px auto 0 0;
  padding: 10px 49px 11px 48px;
}

.u-section-1-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1-3 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-1-3 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1-3 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -48px 107px 0 0;
}

.u-section-1-3 .u-text-6 {
  margin: 30px 0 0;
}

.u-section-1-3 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 24px auto 0 0;
  padding: 10px 49px 11px 48px;
}

.u-section-1-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1-3 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-1-3 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1-3 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -48px 107px 0 0;
}

.u-section-1-3 .u-text-8 {
  margin: 30px 0 0;
}

.u-section-1-3 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 24px auto 0 0;
  padding: 10px 49px 11px 48px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1-3 .u-repeater-1 {
    min-height: 229px;
  }

  .u-section-1-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1-3 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1-3 .u-list-1 {
    margin-top: 215px;
  }

  .u-section-1-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 13px) calc(50% - 13px);
    min-height: 563px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1-3 .u-text-2 {
    margin-top: 0;
  }

  .u-section-1-3 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-1-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 1460px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1-3 .u-list-1 {
    margin-top: 247px;
  }
}

 .u-section-1-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/WhatsAppImage2023-01-23at13.55.261.jpeg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 949px;
}

.u-section-1-4 .u-text-1 {
  font-weight: 400;
  font-size: 6rem;
  text-shadow: 11px 8px 8px rgba(0,0,0,0.4);
  text-decoration: underline !important;
  margin: 222px auto 0;
}

.u-section-1-4 .u-text-2 {
  text-shadow: 4px 6px 0px rgba(0,0,0,0.6);
  font-weight: 400;
  font-size: 3rem;
  margin: 94px 0 0 143px;
}

.u-section-1-4 .u-list-1 {
  margin-top: 72px;
  margin-bottom: 60px;
}

.u-section-1-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px);
  min-height: 281px;
  grid-gap: 26px 26px;
}

.u-section-1-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1-4 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-1-4 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1-4 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -48px 107px 0 0;
}

.u-section-1-4 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-1-4 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 24px auto 0 0;
  padding: 10px 49px 11px 48px;
}

.u-section-1-4 .u-list-item-2 {
  background-image: none;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1-4 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-1-4 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1-4 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -48px 107px 0 0;
}

.u-section-1-4 .u-text-6 {
  margin: 30px 0 0;
}

.u-section-1-4 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 24px auto 0 0;
  padding: 10px 49px 11px 48px;
}

.u-section-1-4 .u-list-item-3 {
  background-image: none;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1-4 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-1-4 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1-4 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -48px 107px 0 0;
}

.u-section-1-4 .u-text-8 {
  margin: 30px 0 0;
}

.u-section-1-4 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 24px auto 0 0;
  padding: 10px 49px 11px 48px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-1-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1-4 .u-repeater-1 {
    min-height: 229px;
  }

  .u-section-1-4 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1-4 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1-4 .u-text-7 {
    margin-top: 20px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 13px) calc(50% - 13px);
    min-height: 563px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 1821px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1-4 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/WhatsAppImage2023-01-23at13.50.372.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 694px;
}

.u-section-2 .u-text-1 {
  text-shadow: 4px 6px 0px rgba(0,0,0,0.6);
  font-weight: 400;
  font-size: 3rem;
  margin: 992px 16px 60px 127px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 438px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 329px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 311px;
    margin-left: 81px;
  }
} .u-section-3 {
  background-image: url("images/WhatsAppImage2023-01-23at13.55.261.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1040px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  height: auto;
  margin: 201px auto 60px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 315px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 42px 30px -22px auto;
  padding: 10px 19px 11px;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 42px 30px -22px auto;
  padding: 10px 19px 11px;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 20px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 42px 30px -22px auto;
  padding: 10px 19px 11px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 13px 13px;
    min-height: 913px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 29px;
    margin-right: 42px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 29px;
    margin-right: 42px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 29px;
    margin-right: 42px;
    margin-bottom: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1142px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  text-transform: none;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0.6;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 113px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  width: 889px;
  margin: 30px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 53px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 379px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  margin: 32px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 379px;
  background-image: url("images/WhatsAppImage2023-01-23at13.55.262.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 379px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  margin: 32px 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 379px;
  background-image: url("images/WhatsAppImage2023-01-23at13.52.43.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 379px;
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 98px auto 0;
}

.u-section-4 .u-text-8 {
  margin: 32px 0 0;
}

.u-section-4 .u-image-3 {
  min-height: 379px;
  background-image: url("images/WhatsAppImage2023-01-23at13.52.442.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1010px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-4 .u-image-1 {
    min-height: 313px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 313px;
  }

  .u-section-4 .u-image-2 {
    min-height: 313px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 313px;
  }

  .u-section-4 .u-image-3 {
    min-height: 313px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 240px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    min-height: 240px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    min-height: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2104px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 540px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 540px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 540px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1504px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-image-1 {
    min-height: 340px;
  }

  .u-section-4 .u-image-2 {
    min-height: 340px;
  }

  .u-section-4 .u-image-3 {
    min-height: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 448px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 931px;
  margin: 100px auto -14px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 268px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 20px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  width: 211px;
  margin: 20px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 268px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 20px 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  width: 193px;
  margin: 20px auto 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 268px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 44px auto 0;
}

.u-section-5 .u-text-5 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 20px 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 20px 0 12px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 65px;
  }

  .u-section-5 .u-text-6 {
    width: 220px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 100px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    width: 207px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-text-6 {
    width: 207px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 270px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 181px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 224px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 252px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 318px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 28px auto 28px 0;
}

.u-section-6 .u-image-1 {
  min-height: 262px;
  background-image: url("images/presenti.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 262px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-6 .u-image-1 {
    min-height: 165px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    min-height: 371px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 56px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 202px;
    order: 1;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 226px;
    order: 0;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 657px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 60px auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 343px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 60px 0;
}

.u-section-7 .u-text-1 {
  margin: 0;
}

.u-section-7 .u-text-2 {
  background-image: none;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-4 {
  margin: 3px 0 0;
}

.u-section-7 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 332px;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px 50px 30px;
}

.u-section-7 .u-form-1 {
  margin: 0;
}

.u-section-7 .u-form-group-3 {
  margin-left: 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 526px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 283px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 434px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 332px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 498px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 314px;
  }
}